body,html{
  height:100%;
  margin:0;
  padding:0;
  width:100%
}

.notepad-goto-dlg{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.notepad-goto-dlg .dialogbox{
  border:1px solid blue;
  height:160px;
  margin:50px auto;
  position:relative;
  width:290px;
}

.notepad-goto-dlg .dialogbox .titlebar{
  height:30px;
  left:0;
  margin:0;
  position:absolute;
  top:0;;
  width:100%;
}
.notepad-goto-dlg .dialogbox .titlebar p{
  margin:5px 5px;
}
.notepad-goto-dlg .dialogbox .titlebar .title{
  left:0;
  position:absolute;
  top:0;
}
.notepad-goto-dlg .dialogbox .titlebar .btn-close{
  color:gray;
  height:30px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:30px;

}
.notepad-goto-dlg .dialogbox .titlebar .btn-close:hover{
  background-color:red;
  color:white;
}

.notepad-goto-dlg .dialogbox .main{
  background-color:#eee;
  height:130px;
  left:0;
  position:absolute;
  top:30px;
  width:100%;
}
.notepad-goto-dlg .dialogbox label{
  left:10px;
  position:absolute;
  top:10px;
}

.notepad-goto-dlg .dialogbox .main .line-num{
  height:25px;
  left:10px;
  position:absolute;
  top:40px;
  width:255px;
}
.notepad-goto-dlg .dialogbox .main .btn-goto{
  bottom:16px;
  height:28px;
  position:absolute;
  right:108px;
  width:85px;
}
.notepad-goto-dlg .dialogbox .main .btn-cancel{
  bottom:16px;
  height:28px;
  position:absolute;
  right:14px;
  width:85px;
}
